<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/Components/Header/Header.css">
<link rel="stylesheet" href="/Components/NavLinks/MainNav.css">
<header class="site-header">
  <div class="inner">
    <div class="site-brand">
      <img src="/IconL7.png" alt="DiccChops Logo">
      <div>
        <h1 class="brand-title">DiccChops's</h1>
        <span class="tagline">Futuristic Playground</span>
      </div>
      <div class="header-buttons" id="header-buttons">
        <link rel="stylesheet" href="/Components/Buttons/Buttons.css">
        <a href="../../index.html" class="main-btn">
          <i class="fas fa-star"></i> Home
        </a>
        <a href="../../Pages/QuickFeed/QuickFeed.html" class="main-btn">
          <i class="fas fa-star"></i> Quick Feed
        </a>
      </div>
    </div>
  </div>
</header>
<script src="/Components/Header/Header.js"></script>
<script src="/Components/NavLinks/MainNav.js"></script>
