.vs/DiccChops-WebPage/CopilotIndices/17.14.1661.41761/CodeChunks.db
.vs/DiccChops-WebPage/CopilotIndices/17.14.1661.41761/CodeChunks.db-shm
.vs/DiccChops-WebPage/CopilotIndices/17.14.1661.41761/CodeChunks.db-wal
.vs/DiccChops-WebPage/CopilotIndices/17.14.1661.41761/SemanticSymbols.db
.vs/DiccChops-WebPage/CopilotIndices/17.14.1661.41761/SemanticSymbols.db-shm
.vs/DiccChops-WebPage/CopilotIndices/17.14.1661.41761/SemanticSymbols.db-wal
.vs/DiccChops-WebPage/FileContentIndex/060123f9-e29e-4eb1-9140-497273e141f6.vsidx
.vs/DiccChops-WebPage/FileContentIndex/1cfb31f6-937e-4493-95f3-19c0afad9d0f.vsidx
.vs/DiccChops-WebPage/FileContentIndex/311ab1df-7b72-4483-9b08-42ec84a5b851.vsidx
.vs/DiccChops-WebPage/FileContentIndex/4426b4ba-1639-48c4-a066-e0abb9242135.vsidx
.vs/DiccChops-WebPage/FileContentIndex/a6b7a3e3-e0e1-4eb6-a8f3-f64024c1a5b5.vsidx
.vs/DiccChops-WebPage/v17/.wsuo
.vs/DiccChops-WebPage/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/DiccChops-WebPage/FileContentIndex/342b4d91-4292-4472-88fd-a43ea5065c22.vsidx
