<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./style.css">
<link rel="stylesheet" href="/Components/Brand/style.css">
<link rel="stylesheet" href="./Comps/Buttons/HB.css">


<header class="header-container">
  <div class="inner">
    <!-- Brand Component -->
    <div class="brand-container">
      <div class="brand"></div>
    </div>

    <!-- Button Component -->
    <div class="button-container">
      <div class="center-vertical">
        <button class="header-button" onclick="location.href='/index.html'">
          <div class="button-content">Home</div>
        </button>
      </div>
      <div class="center-vertical">
        <button class="header-button" onclick="location.href='../../Pages/QuickFeed/QuickFeed.html'">
          <div class="button-content">QuickFeed</div>
        </button>
      </div>
      <div class="center-vertical">
        <button class="header-button" onclick="location.href='../../Pages/Page/Page.html'">
          <div class="button-content">Settings</div>
        </button>
      </div>
      <div class="center-vertical">
        <button class="header-button" onclick="location.href='/Pages/About.html'">
          <div class="button-content">About</div>
        </button>
      </div>
    </div>  
    
  </div>
</header>
<script src="./script.js"></script>


