<div class="sidebar-buttons">
    <button class="sidebar-btn">Home</button>
    <button class="sidebar-btn">Stats</button>
    <button class="sidebar-btn">Settings</button>
    <button class="sidebar-btn">Quick Feed</button>
    <button class="sidebar-btn" data-page="estimatedlaunchday">Estimated Launch Day</button>
    <button class="sidebar-btn" data-page="Game1/Game1">Game1</button>
    <button class="sidebar-btn" data-page="ResourceRush/index">Resource Rush</button>
    <button class="sidebar-btn">NUll</button>
    <button class="sidebar-btn">NUll</button>
    <button class="sidebar-btn">NUll</button>
    <button class="sidebar-btn">NUll</button>
    <button class="sidebar-btn">NUll</button>
    <button class="sidebar-btn">NUll</button>
    <button class="sidebar-btn">NUll</button>
    <button class="sidebar-btn">NUll</button>
    <button class="sidebar-btn">NUll</button>
    <button class="sidebar-btn">NUll</button>
    <button class="sidebar-btn">NUll</button>
    <button class="sidebar-btn">NUll</button>
    <button class="sidebar-btn">NUll</button>
    <button class="sidebar-btn">NUll</button>
    <button class="sidebar-btn">NUll</button>
    <button class="sidebar-btn">NUll</button>
    <button class="sidebar-btn">NUll</button>
    <button class="sidebar-btn">NUll</button>
    <button class="sidebar-btn">NUll</button>
    <button class="sidebar-btn">NUll</button>
    <button class="sidebar-btn">NUll</button>
    <button class="sidebar-btn">NUll</button>
    <button class="sidebar-btn">NUll</button>
    <button class="sidebar-btn">NUll</button>
  </div>