<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="buttons-container">
        <nav class="navigation-box">
            <ul class="nav-list">
                <li><a href="../../../index.html" class="btn btn-primary" target="_top"><span class="full-text">Home</span><span class="mobile-text">H</span></a></li>
                <li><a href="../../../Pages/QuickFeed/QuickFeed.html" class="btn btn-primary" target="_top"><span class="full-text">Quick Feed</span><span class="mobile-text">Q</span></a></li>
                <li><a href="#services" class="btn btn-primary"><span class="full-text">Null</span><span class="mobile-text">N</span></a></li>
                <li><a href="#portfolio" class="btn btn-primary"><span class="full-text">Null</span><span class="mobile-text">N</span></a></li>
                <li><a href="#T1" class="btn btn-primary"><span class="full-text">Null</span><span class="mobile-text">T1</span></a></li>
                <li><a href="#T2" class="btn btn-primary"><span class="full-text">Null</span><span class="mobile-text">T2</span></a></li>
                <li><a href="#T3" class="btn btn-primary"><span class="full-text">Null</span><span class="mobile-text">T3</span></a></li>
            </ul>
        </nav>
    </div>
</body>
</html>
