<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="buttons-container">
        <nav class="navigation-box">
            <ul class="nav-list">
                <li><a href="#home" class="btn btn-primary">Home</a></li>
                <li><a href="#about" class="btn btn-primary">About</a></li>
                <li><a href="#services" class="btn btn-primary">Services</a></li>
                <li><a href="#portfolio" class="btn btn-primary">Portfolio</a></li>
                <li><a href="#T1" class="btn btn-primary">T1</a></li>
                <li><a href="#T2" class="btn btn-primary">T2</a></li>
                <li><a href="#T3" class="btn btn-primary">T3</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>
